extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action='/reg',method='post')
        label(for="user") 账户：
        input(type="text",name="username") 
        br
        br
        br
        label(for="password") 密码：
        input(type="password",name="password")
        input(type="submit",value="提交")